<h1>Listing webservices</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @webservices.each do |webservice| %>
    <tr>
      <td><%= webservice.name %></td>
      <td><%= webservice.description %></td>
      <td><%= link_to 'Show', webservice %></td>
      <td><%= link_to 'Edit', edit_webservice_path(webservice) %></td>
      <td><%= link_to 'Destroy', webservice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Webservice', new_webservice_path %>
